/* fonts */
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
/* --- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(27, 66%, 92%);
}

#container {
    min-width: 30%;
    min-height: 60%;
    /* background-color: red; */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem;
}

.header {
    min-width: 100%;
    height: 10%;
    background-color: hsl(10, 79%, 65%);
    display: flex;
    justify-content: space-between;
    padding: 2rem 2.5rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}

#balance {
    font-size: 2rem;
    padding-top: 0.5rem;
    font-weight: 700;
}

#myChart {
    background-color: white;
    padding: 20px;
    border-radius: 1rem;
    max-height: 20rem;
    font-size: 1.2rem;
    width: 90%;
    height: 80%;
    margin-bottom: 10px;
}

.chart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 2rem 2.5rem;
    margin-top: -40px;
    border-radius: 1rem;
}